@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #252323;
  --foreground: #F5F1ED;
}


body {
  color: var(--foreground);
  font-family: "Cairo", sans-serif;
  background-color: #191818;
}

.pt-sans {
  font-family: "PT Sans Narrow", sans-serif;
}

.MAXWIDTH {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10;
  display: flex;
  align-items: center;
  justify-items: center;
}
@keyframes slime {

  0%,
  100% {
    transform: scaleX(1) scaleY(1);
  }

  25% {
    transform: scaleX(1.2) scaleY(0.8);
  }

  50% {
    transform: scaleX(0.9) scaleY(1.1);
  }

  75% {
    transform: scaleX(1.1) scaleY(0.9);
  }
}

.animate-slime {
  animation: slime 3s infinite ease-in-out;
}
body::-webkit-scrollbar {
  background-color: transparent;
  color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #282828;
  width: 10px;
  border-radius: 10px;
}